<% include partials/header %>
<h1>This is the home page</h1>
<img src="https://www.pets4homes.co.uk/images/breeds/377/large/4f48501e401767a114eb2988e174b9ec.jpg" alt="">
<% include partials/footer %>
